@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,800;1,200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.semibold{
    font-weight: 500;
}