/* h1{
    color: red;
    background-color: green;
} */

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.first-title{
    color: red;
    background-color: green;
    /* width: 500px;
    height: 200px; */
    width: 50%;
    height: 20%;
}

.second-title{
    color: yellow;
    background-color: tomato;
}

/* .small-title{
    font-size: xx-small;
} */

#title-with-name{
    background-color: magenta;
}

.container-div{
    background-color: crimson;
    width: 500px;
    height: 150px;
    /* margin: 80px;
    padding: 30px; */
    margin: 50px 20px;
}

.sub-title{
    background-color: lightgreen;
    width: 50%;
}

.long-title{
    background-color: cornflowerblue;
    width: 50%;
    height: 70px;
    /* min-width: 500px; */
    /* overflow: hidden; */
    overflow: auto;
    
}

/* .div-contenitore h1{
    background-color: blueviolet;
} */


/* .first-title, .second-title, .small-title{
    border-style: solid;
} */
